// -----------------------------------------------------------------------------
//! BigNoodle
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'bignoodletitlingoblique';
    src: url('../fonts/big_noodle_titling_oblique-webfont.woff2') format('woff2'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// -----------------------------------------------------------------------------
//! SIZING
// -----------------------------------------------------------------------------

	html { 
		font-size: 16px; 
	}
	body { 
		font-size: 1em;
		font-family: $font-body;  
		color: $color-body;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	

// -----------------------------------------------------------------------------
//! HEADINGS
// -----------------------------------------------------------------------------

	@mixin heading-reset() {
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-family: inherit;
		color: inherit;
		letter-spacing: 0;
		margin: 0;
		padding: 0;
	}

	h1, h2, h3, h4, h5, h6 { 
		line-height: 1.1; 
		font-weight: 700;
		margin:1em 0;
		&:first-child {
			margin-top: 0;
		}
	}
	
	h1 {
		font-size:1em;
	}
	
// -----------------------------------------------------------------------------
//! COPY
// -----------------------------------------------------------------------------
	
	p { 
		line-height: 1.5;
		margin: 1em 0; 
		font-size:1em;
		&:first-child {
			margin-top: 0;
		}
	}


	a {
		color: $color-blue-dark;
		text-decoration: none;
		transition: all 0.2s ease;
		&:hover { 
			text-decoration: underline;
			transition: all 0.2s ease; 
		}
	}

	ul,
	ol {
		margin:1em 0;
		padding:0 0 0 24px;
		li {
			padding:0 0 0 8px;
			margin:0 0 8px 0;
			line-height: 1.5;
			position: relative;

		}
	}