// -----------------------------------------------------------------------------
//! Fonts
// -----------------------------------------------------------------------------

$font-body: 'Open Sans', Arial, Helvetica, Sans-serif;
$font-noodle: 'bignoodletitlingoblique', 'Open Sans', Arial, Helvetica, Sans-serif;


// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------

$color-blue-dark: 	#28354f;
$color-body: 		#444444;
$color-off-white:	#F0EDF2;
$color-orange:		#ff9c00;

// -----------------------------------------------------------------------------
//! Z-indexes
// -----------------------------------------------------------------------------

$z_index-level6: 120;
$z_index-level5: 100;
$z_index-level4: 75;
$z_index-level3: 50;
$z_index-level2: 25;
$z_index-level1: 1;
$z_index-level0: -1;

// -----------------------------------------------------------------------------
//! Breakpoints 
// -----------------------------------------------------------------------------

$breakpoint-team-grid-six: 800px;
$breakpoint-team-grid-small: 400px;

$breakpoint-small-buttons: 360px;