// -----------------------------------------------------------------------------
//! Hero Container
// -----------------------------------------------------------------------------

.hero {
	padding:32px 0 64px 0;
}



// -----------------------------------------------------------------------------
//! Hero Backgrounds
// -----------------------------------------------------------------------------

.genji .grid-box-inner,
.genji.result-portrait{
	background-image:url(../images/genji-portrait.png);
}

.mccree .grid-box-inner,
.mccree.result-portrait {
	background-image:url(../images/mccree-portrait.png);
}

.pharah .grid-box-inner,
.pharah.result-portrait {
	background-image:url(../images/pharah-portrait.png);
}

.reaper .grid-box-inner,
.reaper.result-portrait {
	background-image:url(../images/reaper-portrait.png);
}

.soldier .grid-box-inner,
.soldier.result-portrait {
	background-image:url(../images/soldier-portrait.png);
}

.sombra .grid-box-inner,
.sombra.result-portrait {
	background-image:url(../images/sombra-portrait.png);
}

.tracer .grid-box-inner,
.tracer.result-portrait {
	background-image:url(../images/tracer-portrait.png);
}

.bastion .grid-box-inner,
.bastion.result-portrait {
	background-image:url(../images/bastion-portrait.png);
}

.hanzo .grid-box-inner,
.hanzo.result-portrait {
	background-image:url(../images/hanzo-portrait.png);
}

.junkrat .grid-box-inner,
.junkrat.result-portrait {
	background-image:url(../images/junkrat-portrait.png);
}

.mei .grid-box-inner,
.mei.result-portrait {
	background-image:url(../images/mei-portrait.png);
}

.torbjorn .grid-box-inner,
.torbjorn.result-portrait {
	background-image:url(../images/torbjorn-portrait.png);
}

.widowmaker .grid-box-inner,
.widowmaker.result-portrait {
	background-image:url(../images/widowmaker-portrait.png);
}

.dva .grid-box-inner,
.dva.result-portrait {
	background-image:url(../images/dva-portrait.png);
}

.reinhardt .grid-box-inner,
.reinhardt.result-portrait {
	background-image:url(../images/reinhardt-portrait.png);
}

.roadhog .grid-box-inner,
.roadhog.result-portrait {
	background-image:url(../images/roadhog-portrait.png);
}

.winston .grid-box-inner,
.winston.result-portrait {
	background-image:url(../images/winston-portrait.png);
}

.zarya .grid-box-inner,
.zarya.result-portrait {
	background-image:url(../images/zarya-portrait.png);
}

.ana .grid-box-inner,
.ana.result-portrait {
	background-image:url(../images/ana-portrait.png);
}

.lucio .grid-box-inner,
.lucio.result-portrait {
	background-image:url(../images/lucio-portrait.png);
}

.mercy .grid-box-inner,
.mercy.result-portrait {
	background-image:url(../images/mercy-portrait.png);
}

.symmetra .grid-box-inner,
.symmetra.result-portrait {
	background-image:url(../images/symmetra-portrait.png);
}

.zenyatta .grid-box-inner,
.zenyatta.result-portrait {
	background-image:url(../images/zenyatta-portrait.png);
}