// -----------------------------------------------------------------------------
//! Team Selected Area
// -----------------------------------------------------------------------------

.team {
	padding:24px 0;
	background: $color-blue-dark;
	box-shadow: 0 0 2px 2px rgba($color-blue-dark,0.3);
}

.team-grid {
	//max-width: 240px;
	padding:0;
	transform: translate3d(0px,0px,0px);
	@include respond($breakpoint-team-grid-small) {
		//max-width: 336px;	
	}
	@include respond($breakpoint-team-grid-six) {
		//max-width: 1200px;
	}
}

.team-grid-placeholder {
	width:100%;
	position: absolute;
	transform: translate3d(0px,0px,0px);
	&.is-relative {
		position: relative;
	}
}

.team-grid.is-sticky {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	max-width: none;
	background: $color-blue-dark;
	z-index: $z_index-level4;
	padding:8px 0;
	box-shadow: 0 0 2px 2px rgba($color-blue-dark,0.3);
	
}
